* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 0.092);
}

html {
  background-color: #fff08fff;
}

body {
  background-color: #fff08fff;
  /* Hide url bar on mobile */
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  /* Disable highlight on touch and context menu on mobile */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

.link {
  color: inherit;
}

#root {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}