* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #fff08fff;
}

body {
  height: 100%;

  overflow-y: overlay;
  background-color: #fff08fff;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
  width: 100%;
  top: 0;
  left: 0;
}

* {
  scrollbar-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 0.092);
}
.link {
  color: inherit;
}

#root {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}